<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Ramais</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body style="margin: 8px; font-family: 'Courier New', Courier, monospace, sans-serif; font-size: 16px; line-height: 1.5; background-color: #fff;">
    <div class="card d-flex">
        <div class="flex-grow-1">
            <div class="d-flex align-items-center">
                <img src="..." class="rounded float-start" alt="...">
                <h1 >Informe o CNPJ da empresa</h1>
            </div>
        </div>
        <div class="align-items-center p-2 flex-grow-1"> 
            <div class="card-body container">

                <form action="/cliente" method="post" class="d-flex">
                <div class="p-2 flex-grow-1"> 
                        <input type="text" id="cnpj" name="cnpj" class="form-control" required pattern="[0-9]{14}" title="O CNPJ deve ter 14 dígitos numéricos">
                    </div>
                    <div class="p-2">
                        <button type="submit" type="button" class="btn btn-outline-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>   
    </div><!-- CARD COMPLETO -->

    
        <div id="clientes-list" class="container">
            <ul class="form-inline">
                {{ range . }}
                    <li style="list-style: none;">Cliente: {{ .Cliente }}</li>
                    <li style="list-style: none;">Documento: {{ .Documento }}</li>
                    <div class="card-header">
                        <ul style="list-style: none;" class="list-group list-group-flush">
                            {{ range .RamaisRegistrados }}
                                {{ if ne .Sip "" }}
                                    <li class="list-group-item d-flex justify-content-between">
                                        <span>SIP: {{ .Sip }}, IP: {{ .Ip }} IN USE: {{ .InUse }}</span>
                                        <button type="button" class="btn btn-primary" onclick="selecionarSip('{{ .Sip }}')">Selecionar</button>
                                    </li>
                                    {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                    
                {{ end }}
            </ul>
        </div>
   
</body>
<script>
    function selecionarSip(sip) {
        window.location.href = '/selecionar-sip?sip=' + encodeURIComponent(sip);    
    }

</script>

</html>
